@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

:root {
    --main-font: black;
}

* {
    text-align: center;
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    font-family: 'Lustria', serif;
    box-sizing: border-box;
    color: var(--main-font);
    body {
        height: 110%;
        background-color: rgb(206, 206, 206);

        h1 {
            font-size: 5rem;
            margin: 0px;
            padding: 30px;
        }

        #subheader {
            font-size: 3rem;
        }

        .carousel-inner {
            height: 400px;
            width: 400px;
            margin: auto auto;
            padding-top: 50px;
        }
        
        section {
            padding: 0px 15%;


            h2 {
                font-size: 3rem;
                font-weight: 700;
            }
            
            ul {
                margin: 20px 200px 50px 200px;
                li {
                    font-size: 2.2rem;
                    list-style-type: none;
                    margin: 20px;
                }
            }
            #quote {
                font-style: italic;
                margin: 100px 0px;
            }

            #links {
                margin: 80px 0px;
            }

            p {
                font-size: 2rem;

                a {
                    
                   font-size: inherit; 
                }

                a:visited {
                    color: purple;
                }
            }
        }
      
    }
    
}





